{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h2 class="mt-2">Bienvenido</h2>
        <div class="row mt-5">
            <div class="col-12">
                {% include 'pages/index/components/nav_tabs.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="static/js/load_animation/loadSection.js"></script>
    <script src="static/js/index/loadGroup.js"></script>
    <script src="static/js/index/loadNewCRM.js"></script>
    <script src="static/js/index/expirationCookies.js" defer></script>
{% endblock  %}