<table class="data_table">
    <thead>
        <tr>
            <th>Created at</th>
            <th>UTC Timestamp</th>
            <th>Event ID</th>
            <th>GPS</th>
            <th>Inputs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2024-06-27 00:04:35</td>
            <td>2024-06-27 11:04:34 </td><td><b title="Acknowledgement">[+ACK:GTHBD] Heartbeat</b> </td><td></td><td>+ACK:GTHBD,74040A,862524060673171,,20240627110434,6FC8$ </td>
        </tr>
    </tbody>
</table>